@{
    ViewData["Title"] = "Контакты";
}

<h1>Контакты</h1>


<div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>ФИО</td>
                <td>Селяков Вячеслав</td>
            </tr>

            <tr>
                <td>Email</td>
                <td>v.selyakov@yandex.ru</td>
            </tr>

            <tr>
                <td>Telegram</td>
                <td><a href="https://t.me/vselyakov">vselyakov</a></td>
            </tr>
        </tbody>
    </table>
</div>